body{
	font-family: 'Open Sans',sans-serif;
	background-color:black;
    background-image:url("bc.jpg");
    background-size: 1550px 750px;
}



#calculator{
	width: 320px;
	height: 620px;
    background-color: #e0eeee;
    margin: 0 auto;
    top: 5px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(40, 38, 38), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#result{
    
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;

}
#keyboard{
    height: 600px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 20%;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;

}
.text{
    font-family: cursive;
    color:black;
    text-shadow:#919191;
    text-align: center;
    font-size: 30px;

}

.number, .empty{
    background-color: #d4ecec;
}
.operator{
    background-color:rgb(98, 228, 217);
}
.number, .operator{
    cursor: pointer;
}
.number:active, .operator:active{
    font-size: 13px;
}
.number:focus, .operator:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #8edcd8;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #7ed4d4;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #84dcdc;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #6bc9ce;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #6dbec8;
}